.details__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.details__items {
    border: transparent;
    text-align: center;
    padding: 10px;
    border-radius: 0.5rem;
    background: var(--color-bg-variant);
    transition: var(--transition);
}

.details__items:hover {
    background: transparent;
    border: 1px solid var(--color-primary-variant);
    cursor: default;
}

.numbers {
    margin-top: 20px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description>h3 {
    padding: 5px;
}