
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logout__icon {
    color: var(--color-white);
    transition: var(--transition);
}

.logout__icon:hover {
    color: var(--color-primary);
}