.form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.title {
    margin-bottom: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

.projectform {
    margin-bottom: 50px;
}