.projects__container {
    display: grid !important;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.project__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
}

.project__item:hover {
    background-color: var(--color-primary-variant);
    background: transparent;
}

.project__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.project__item-image img {
    width: 100%;
    height: auto;
}

.project__item h3 {
    margin: 1.2rem 0 2rem;
}